# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/app/build/
android/local.properties
*.jks

# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*
ios/build/
*.xcworkspace

# macOS
macos/Flutter/Flutter-Debug.xcconfig
macos/Flutter/Flutter-Release.xcconfig
macos/Flutter/GeneratedPluginRegistrant.*
macos/Pods/
macos/build/

# Windows
windows/flutter/
windows/runner/Debug/
windows/runner/Release/
windows/build/

# Linux
linux/flutter/
linux/build/

# Web
web/.dart_tool/
web/build/

# Firebase configs (optional, only if you don’t want to share)
google-services.json
GoogleService-Info.plist

# Misc
*.log
*.lock
*.tmp
*.so
*.DS_Store
